InventoryApp/InventoryApp/Web References/inventoryWebService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getDataTable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDataTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="updateRecords">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="str" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateRecordsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateRecordsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGrupos">
        <s:complexType />
      </s:element>
      <s:element name="getGruposResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getGruposResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getActivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codigo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getActivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getActivoResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getActivoList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codigos" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getActivoListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getActivoListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getActivoDetalle">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cia" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="activo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getActivoDetalleResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getActivoDetalleResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateActivo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cia" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="activo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="cod_alterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descrip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipo_activo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="grupo_activo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="serie" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateActivoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="updateActivoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDataTableSoapIn">
    <wsdl:part name="parameters" element="tns:getDataTable" />
  </wsdl:message>
  <wsdl:message name="getDataTableSoapOut">
    <wsdl:part name="parameters" element="tns:getDataTableResponse" />
  </wsdl:message>
  <wsdl:message name="getDataTableAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="updateRecordsSoapIn">
    <wsdl:part name="parameters" element="tns:updateRecords" />
  </wsdl:message>
  <wsdl:message name="updateRecordsSoapOut">
    <wsdl:part name="parameters" element="tns:updateRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="updateRecordsAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="LoginAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getGruposSoapIn">
    <wsdl:part name="parameters" element="tns:getGrupos" />
  </wsdl:message>
  <wsdl:message name="getGruposSoapOut">
    <wsdl:part name="parameters" element="tns:getGruposResponse" />
  </wsdl:message>
  <wsdl:message name="getGruposAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getActivoSoapIn">
    <wsdl:part name="parameters" element="tns:getActivo" />
  </wsdl:message>
  <wsdl:message name="getActivoSoapOut">
    <wsdl:part name="parameters" element="tns:getActivoResponse" />
  </wsdl:message>
  <wsdl:message name="getActivoAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getActivoListSoapIn">
    <wsdl:part name="parameters" element="tns:getActivoList" />
  </wsdl:message>
  <wsdl:message name="getActivoListSoapOut">
    <wsdl:part name="parameters" element="tns:getActivoListResponse" />
  </wsdl:message>
  <wsdl:message name="getActivoListAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="getActivoDetalleSoapIn">
    <wsdl:part name="parameters" element="tns:getActivoDetalle" />
  </wsdl:message>
  <wsdl:message name="getActivoDetalleSoapOut">
    <wsdl:part name="parameters" element="tns:getActivoDetalleResponse" />
  </wsdl:message>
  <wsdl:message name="getActivoDetalleAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="updateActivoSoapIn">
    <wsdl:part name="parameters" element="tns:updateActivo" />
  </wsdl:message>
  <wsdl:message name="updateActivoSoapOut">
    <wsdl:part name="parameters" element="tns:updateActivoResponse" />
  </wsdl:message>
  <wsdl:message name="updateActivoAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="getDataTable">
      <wsdl:input message="tns:getDataTableSoapIn" />
      <wsdl:output message="tns:getDataTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateRecords">
      <wsdl:input message="tns:updateRecordsSoapIn" />
      <wsdl:output message="tns:updateRecordsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGrupos">
      <wsdl:input message="tns:getGruposSoapIn" />
      <wsdl:output message="tns:getGruposSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getActivo">
      <wsdl:input message="tns:getActivoSoapIn" />
      <wsdl:output message="tns:getActivoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getActivoList">
      <wsdl:input message="tns:getActivoListSoapIn" />
      <wsdl:output message="tns:getActivoListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getActivoDetalle">
      <wsdl:input message="tns:getActivoDetalleSoapIn" />
      <wsdl:output message="tns:getActivoDetalleSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="updateActivo">
      <wsdl:input message="tns:updateActivoSoapIn" />
      <wsdl:output message="tns:updateActivoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDataTable">
      <soap:operation soapAction="http://tempuri.org/getDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getDataTableAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRecords">
      <soap:operation soapAction="http://tempuri.org/updateRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:updateRecordsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LoginAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGrupos">
      <soap:operation soapAction="http://tempuri.org/getGrupos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getGruposAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActivo">
      <soap:operation soapAction="http://tempuri.org/getActivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getActivoAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActivoList">
      <soap:operation soapAction="http://tempuri.org/getActivoList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getActivoListAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActivoDetalle">
      <soap:operation soapAction="http://tempuri.org/getActivoDetalle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:getActivoDetalleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateActivo">
      <soap:operation soapAction="http://tempuri.org/updateActivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:updateActivoAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getDataTable">
      <soap12:operation soapAction="http://tempuri.org/getDataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getDataTableAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRecords">
      <soap12:operation soapAction="http://tempuri.org/updateRecords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:updateRecordsAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LoginAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGrupos">
      <soap12:operation soapAction="http://tempuri.org/getGrupos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getGruposAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActivo">
      <soap12:operation soapAction="http://tempuri.org/getActivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getActivoAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActivoList">
      <soap12:operation soapAction="http://tempuri.org/getActivoList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getActivoListAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getActivoDetalle">
      <soap12:operation soapAction="http://tempuri.org/getActivoDetalle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:getActivoDetalleAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateActivo">
      <soap12:operation soapAction="http://tempuri.org/updateActivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:updateActivoAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:4972/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:4972/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>